@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.operation-button {
  background-color: orange;
  position: relative;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.operation-button:hover {
  color: white;
}

.operation-button::before {
  content: '';
  position: absolute;
  background-color: darkorange;
  z-index: -1;
  transition: all 200ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  border-radius: 7px;
}

.operation-button:hover::before {
  right: 0;
}

.clear-button {
  background-color: red;
  position: relative;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.clear-button:hover {
  color: white;
}

.clear-button::before {
  content: '';
  position: absolute;
  background-color: #d60000;
  z-index: -1;
  transition: all 200ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  border-radius: 7px;
}

.clear-button:hover::before {
  right: 0;
}

.num-button {
  position: relative;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.num-button:hover {
  color: white;
}

.num-button::before {
  content: '';
  position: absolute;
  background-color: #aaaaaa;
  z-index: -1;
  transition: all 200ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  border-radius: 7px;
}

.num-button:hover::before {
  right: 0;
}
